%h1 Listing tracks
%table
  %tr
    %th Name
    %th Description
    %th Level
    %th
    %th
    %th
  - @tracks.each do |track|
    %tr
      %td= track.name
      %td= track.description
      %td= track.level
      %td= link_to 'Show', user_track_path(params[:user_id], track)
      %td= link_to 'Edit', edit_user_track_path(params[:user_id], track)
      %td= link_to 'Destroy', user_track_path(params[:user_id], track), method: :delete, data: { confirm: 'Are you sure?' }
%br/
= link_to 'New Track', new_user_track_path