%p#notice= notice
%h1 Welcome #{@user.name}

%h3 Below are your current list of tracks

%table.table.table-hover
  %tr
    %th Name
    %th Description
    %th Level
    %th
    %th
    %th
  - @tracks.each do |track|
    %tr
      %td= track.name
      %td= track.description
      %td= track.level
      %td= link_to 'Show', track
      %td= link_to 'Edit', edit_track_path(track)
      %td= link_to 'Destroy', track, method: :delete, data: { confirm: 'Are you sure?' }

/ TODO - Make this part of the header
= link_to 'Edit Name/Email', edit_user_path(@user)