%p#notice= notice
%h1 Welcome #{@user.name}

%h3 Below are your current list of tracks

%table.table.table-hover
  %tr
    %th Name
    %th Description
    %th Level
    %th
    %th
    %th
  - @tracks.each do |track|
    %tr
      %td= track.name
      %td= track.description
      %td= track.level
      %td= link_to 'Show', user_track_path(@user, track)
      %td= link_to 'Edit', edit_user_track_path(@user, track)
      %td= link_to 'Destroy', user_track_path(@user, track), method: :delete, data: { confirm: 'Are you sure?' }

/ TODO - Make this part of the header
= link_to 'Edit Name/Email', edit_user_path(@user)
|
= link_to 'Create New Track', new_user_track_path(@user)
